@model Soru_Cevap.ViewModel.soruModel
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Soru Ekle</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("SoruEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.LabelFor(m => m.Baslik)
            @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Baslik, null, new { @class = "text-danger" })
            <br />

            @Html.LabelFor(m => m.Icerik)
            @Html.TextAreaFor(m => m.Icerik, new { @id = "Icerik", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Icerik, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(k => k.KategoriID)<br />
            @Html.DropDownListFor(k => k.KategoriID, Model.KategoriList, new { @class = "form-control" })
            @Html.ValidationMessageFor(k => k.KategoriID, null, new { @class = "text-danger" })<br />

            <br />
            <input type="submit" value="Kaydet" class="btn btn-success" />
        }
        <br />
        @if (ViewBag.sonuc != null)
        {
            <div class="alert alert-success">@ViewBag.sonuc</div>
        }
        @if (ViewBag.hata != null)
        {
            <div class="alert alert-danger">@ViewBag.hata</div>
        }
    </div>
</div>

