@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger py-3">
        <a class="navbar-brand" href="~/Home">
            <img src="~/Content/Image/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="mb-0 h3">Soru Cevap Portalı</span> 
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sorular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Soru Sor</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                @if (Session["uyeOturum"] == null)
                {

                    @Html.ActionLink("Giriş", "OturumAc", new { returnUrl = Request.RawUrl }, new { @class = "btn btn-info my-2 my-sm-0" })
                }
                else
                {
                    if (Session["uyeAdmin"].ToString() == "1")
                    {
                        @Html.ActionLink("Admin Paneli", "Admin", new { returnUrl = Request.RawUrl }, new { @class = "btn btn-info my-2 my-sm-0" })

                    }
                    <a class="nav-link" href="~/Home/UyeDetay/@Session["uyeID"]">@Session["uyeKulAd"]</a>

                    @Html.ActionLink("Oturumu Kapat", "OturumKapat", new { returnUrl = Request.RawUrl }, new { @class = "btn btn-info my-2 my-sm-0" })
                }

            </form>
        </div>
    </nav>
   <!-- <div class="row"><img src="~/Content/Image/banner.jpg" class="img-fluid"></div>-->
    <section class="container main-content">
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>
            <aside class="col-md-3 sidebar">
                <div class="widget widget_tag_cloud mt-5">
                    <h3 class="widget_title">Kategori</h3>
                    @{ Html.RenderAction("Kategoriler", "Home");}
                </div>

                <div class="widget">
                    <h3 class="widget_title">Recent Questions</h3>
                    <ul class="related-posts">
                        <li class="related-item">
                            <h3><a href="#">This is my first Question</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="clear"></div><span>Feb 22, 2014</span>
                        </li>
                        <li class="related-item">
                            <h3><a href="#">This Is My Second Poll Question</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="clear"></div><span>Feb 22, 2014</span>
                        </li>
                    </ul>
                </div>
            </aside>
</div>

    </section>
</body>
</html>
