@model IEnumerable<Soru_Cevap.Models.Soru>
<h2 class="my-4">@ViewBag.kategori</h2>
@if (ViewBag.kayityok != null)
{
    <h5>@ViewBag.kayityok</h5>
}
<div class="tabs-warp question-tab mt-5">
    <div class="tab-inner-warp">
        <div class="tab-inner">
            @foreach (var soru in Model)
            {
                <article class="question question-type-normal">
                    <h2>
                        <a href="~/Home/SoruDetay/@soru.SoruID">@soru.Baslik</a>
                    </h2>
                    <div class="question-inner">
                        <div class="clearfix"></div>

                        @if (soru.Icerik.Length > 200)
                        {
                            <p class="question-desc">@Html.Raw(soru.Icerik.Substring(0, 200))...</p>
                        }
                        else
                        {
                            <p class="question-desc">@soru.Icerik</p>
                        }

                        <span class="question-date"><i class="icon-time"></i>@soru.Tarih.Date.ToShortDateString()</span>
                        <span class="question-comment"><a href="#"><i class="icon-comment"></i>@soru.Cevap.Count</a></span>
                        <span class="question-view"><i class="icon-user"></i>@soru.Uye.KullaniciAd</span>
                        <div class="clearfix"></div>
                    </div>
                </article>
            }
        </div>
    </div>
</div>

