@model Soru_Cevap.ViewModel.uyeModel
<div class="row">
    <div class="col-md-6">
        <h1 class="my-4">
            Üye Ol
        </h1>


        @using (Html.BeginForm("UyeOl", "Home", FormMethod.Post, new { enctype = "multipart-form-data" }))
        {
            @Html.LabelFor(m => m.KullaniciAd)
            @Html.TextBoxFor(m => m.KullaniciAd, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.KullaniciAd, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Ad)
            @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Ad, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Soyad)
            @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Soyad, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
            <br />
            @Html.LabelFor(m => m.Sifre)
            @Html.PasswordFor(m => m.Sifre, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Sifre, null, new { @class = "text-danger" })
            <br />

            <input type="submit" value="Üye Ol" class="btn btn-success" />
            @Html.ActionLink("Oturum Aç", "OturumAc", null, new { @class = "btn btn-primary" })

        }

        <br />
        @if (ViewBag.hata != null)
        {
            <div class="alert alert-danger">@ViewBag.hata</div>
        }

    </div>
</div>


